---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card, Pagination } from 'accessible-astro-components'
// import json from '/assets/json/posts.json'
import posts from '../../assets/json/gallery.json'
import 'animate.css';
import ButtonSample from './ButtonSample.vue';

interface Post {
  title: string;
  userId: number;
  body: string;
  image_url: string;
}

interface Page {
  start: number;
  end: number;
  total: number;
  data: Post[];
  url: {
    prev: string | null;
    next: string | null;
  };
  currentPage: number;
  size: number;
}


export async function getStaticPaths({ paginate }) {
  // load posts from assets/json/posts.json
  
  const data = posts;
  return paginate(data, { pageSize: 6 })
}

const { page } = Astro.props as { page: Page }

---

<DefaultLayout
  title="Blog"
  description="A gallery of images for the Francis Bacon Debate Society"
>
  <section class="my-12">

    <div class="space-content container">
      <!-- <ButtonSample client:visible/> -->
      <h1 style = "animation-delay: 1s; animation-duration: 2s" class="animate__animated animate__fadeIn">Gallery</h1>
      <p style = "animation-delay: 0.5s; animation-duration: 2s" class="text-2xl animate__animated animate__fadeIn">
        This is the gallery showcasing photographs captured during our esteemed sessions.
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container" >
      <p style = "animation-delay: 2s; animation-duration: 2s" class="text-sm animate__animated animate__fadeIn"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p>
      <ul class="my-3">
        {
          page.data.map((post, index) => (
            <li>
              <div style = "animation-delay: 0s; animation-duration: 2s" class={index % 2 === 0 ? 'lg:col-span-animate__animated animate__fadeInTopLeft' : 'lg:col-span-animate__animated animate__fadeInTopRight'}>
              <Card
                url={'/gallery/' + post.title.replaceAll(' ', '-').toLowerCase()}
                title={post.title}
                footer={'userId:' + post.userId}
                img={'../'+post.image_url}
                
                
              >
                {post.body}
              </Card>
            </div>
            </li>
          ))
        }
      </ul>
      <div class="mt-12 grid place-content-center">
        <Pagination
          firstPage={page.url.prev ? '/gallery' : null}
          previousPage={page.url.prev ? page.url.prev : null}
          nextPage={page.url.next ? page.url.next : null}
          lastPage={page.url.next ? `/gallery/${Math.round(page.total / page.size)}` : null}
          currentPage={page.currentPage}
          totalPages={Math.round(page.total / page.size)}
        />
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
