---
import DefaultLayout from '../../layouts/DefaultLayout.astro'

import 'animate.css';

export async function getStaticPaths({ paginate }) {

return paginate([], { pageSize: 1 })
}

const { page } = Astro.props
---

<DefaultLayout
  title="Contact Us"
  description="Get in touch with The Francis Bacon Debate Society. We'd love to hear from you!"
>
  <section style = "animation-delay: 0.5s; animation-duration: 2s" class="animate__animated animate__fadeIn my-12">
    <div class="space-content container">
      <h1>Contact Us</h1>
      <p class="text-2xl">
        We'd love to hear from you! Whether you have questions, feedback, or are interested in assisting as a guest speaker at The Francis Bacon Debate Society, please feel free to reach out to us. If you are interested in speaking at one of our debates, we would encourage you to provide a brief intro of the motion you would like to put forward, and 1-2 sentences about yourself.
      </p>
    </div>
  </section>
  <section style = "animation-delay: 1.5s; animation-duration: 2s" class="animate__animated animate__fadeIn my-12">
    <div class="container">
      <h2 class="text-3xl">Get in Touch</h2>
      <p class="text-lg">
        You can contact us through the following methods:
      </p>
      <ul class="list-disc pl-5">
        <li><strong>Email:</strong> <a href="mailto:info@francisbacondebate.org">info@francisbacondebate.org</a></li>
        <li><strong>Address:</strong> Camino Ancho 84, 28109 La Moraleja, Madrid, Spain</li>
      </ul>
    </div>
  </section>
  <section style = "animation-delay: 2.5s; animation-duration: 2s" class="animate__animated animate__fadeIn my-12">
    <div class="container">
      <h2 class="text-3xl">Follow Us</h2>
      <p class="text-lg">
        Stay updated with our latest news and events by following us on social media:
      </p>
      <ul class="list-disc pl-5">
        <li><strong>LinkedIn</strong></li>
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">

input {
  color: #333; /* Gris oscuro */
}

textarea {
  color: #333; /* Gris oscuro */
}

</style>