---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-4xl">Sections</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:home-outline" title="Home">
          This is the home page of The Francis Bacon Debate Society. 
        </Feature>
        <Feature icon="mdi:people-group" title="About Us">
          Learn more about the club, its members and its history.
        </Feature>
        <Feature icon="mdi:event-seat-outline" title="Events">
          Check out the previous and upcoming events of the club.
        </Feature>
        <Feature icon="mdi:wallet-membership" title="Membership">
          Membership details.
        </Feature>
        <Feature icon="mdi:resource-description-framework" title="Resources">
          Resources for members.
        </Feature>
        <Feature icon="mdi:view-gallery" title="Gallery">
          Photos and videos of the club.
        </Feature>
        <Feature icon="mdi:email-fast" title="Contact">
          Contact the club.
        </Feature>
      </div>
    </div>
  </section>

</DefaultLayout>
