---
import 'animate.css';
import Image from 'astro/components/Image.astro'

const { src = '/francis_bacon_01.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <!-- apply fade in and move left animation on load for these elements inside div -->
           <div style="animation-delay: 0.5s; animation-duration: 3.5s" class="handwritten animate__animated animate__fadeInDown">The</div>
            <div style="animation-delay: 0s; animation-duration: 4s" class="handwritten animate__animated animate__fadeInLeft">Francis Bacon</div>
            <div style="animation-delay: 0s; animation-duration: 4s" class="handwritten animate__animated animate__fadeInUp">Debate Society</div>
        </h1>
        <div class="flex flex-col gap-3 min-[300px]:flex-row">
          <!-- <a class="button has-icon" href="https://github.com/markteekman/accessible-astro-starter">
            <Icon name="ion:star-outline" />
            Star on GitHub
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md"
          >
            <Icon name="ion:bookmark-outline" />
            Read the Docs
          </a> -->
        </div>
      </div>
      <div style="animation-delay: 0s; animation-duration: 4s" class="animate__animated animate__fadeInRight" >
        <Image class="hidden lg:block" src={src} alt="" decoding="async" width={800} height={800} loading="eager" />
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="container py-12">
    <p style="animation-delay: 0s; animation-duration: 4s" class="animate__animated animate__fadeInUp text-xl mb-3">
      A politically unaffiliated and independent society dedicated to fostering constructive debate and curiosity. Both think-tank and debate society, our purpose is to cultivate collective intellect through thoughtful discourse.    
    </p>
    <a href="/aboutus" style="animation-delay: 0s; animation-duration: 4s" class="animate__animated animate__fadeInUp text-xl text-blue-500 underline">Learn more about us</a>
  </div>
</section>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .handwritten {
    font-family: 'Great Vibes', brush-script, cursive;
  }


</style>

