---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import 'animate.css';


export async function getStaticPaths({ paginate }) {
  return paginate([], { pageSize: 1 })
}

const { page } = Astro.props
---

<DefaultLayout
  title="About Us"
  description="Learn more about The Francis Bacon Debate Society, our mission, history, and team."
>
  <section class="my-12">
    <div class="container">
      <h1 style = "animation-delay: 0.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-4xl font-bold mb-6">About Us</h1>
      <p style = "animation-delay: 1.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-lg mb-6 p-4 rounded-lg shadow-md border-2 border-white-500">
        <span style="font-weight: bold; font-style: italic; font-family: 'Times New Roman', Times, serif; display: block; margin-bottom: 0.5rem; font-size: 1.5rem;">Sic parvis magna</span>
        "There must be a beginning of any great matter, but the continuing unto the end, until it be thoroughly finished, yields the true glory."
      </p>
      <p style = "animation-delay: 2.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-lg mb-6">
        We are a private association of diverse individuals united by a shared objective: fostering curiosity and introspection.
      </p>
      <p style = "animation-delay: 2.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-lg mb-6">
        Our society was born with a simple yet powerful purpose: to infuse greater meaning into conversations and discussions. This debate society evolved from what began in 2008 as a laid-back dining club—a gathering where I sought to challenge my culinary skills and enjoy gastronomic experiences with my friends. In 2023, driven by a desire to deepen our discourse, we began planning our conversations in advance. Thus, we commenced directing discussions, which naturally gravitated towards meaningful topics, frequently leading to thought-provoking debates and intellectually stimulating exchanges.
      </p>
      <p style = "animation-delay: 2.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-lg mb-6">
        The concept evolved swiftly into structured and moderated debates. Over time, we experimented with various formats—different seating arrangements, group sizes, and the balance between think-tank discussions and formal debates. Today, we host Oxford Union-style debates paired with formal dinners, conducted under the Chatham House Rule. This confidentiality framework protects our members’ and guest speakers’ views and opinions while allowing us to share collective conclusions. 
      </p>
      <p style = "animation-delay: 2.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-lg mb-6">
        However, our purpose remains unchanged: to gather once a month with an open mind, a willingness to listen, and a determination to build upon the ideas of our peers—ultimately striving to surpass our individual intellects through collective deliberation.
      </p>
        
      <p style = "animation-delay: 2.5s; animation-duration: 2s" class="animate__animated animate__fadeIn text-lg mb-6">
        Our patron, Sir Francis Bacon, Viscount St Alban, was a British philosopher, lawyer, politician, and concealed poet. Renowned as one of the last and greatest Renaissance men, Bacon is credited with the development of empiricism and the scientific method—principles that resonate deeply with the logical deliberations of our society.
      </p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
</style>